
body{
    background: url(pixels.png);
    background-size: cover;
    z-index: -501;
}
    

#blocks
{
    display:flex;
    justify-self: flex-start;
    text-align: left;
}

#score{
    position: absolute;
    top: 99%;
    left: 10px;
    font-size: 24px;
}



#game{
    width: 800px;
    height: 500px;
    border: 3px solid purple;
    margin-left: 0%;
    background-image: url(pixels2.png);
    background-size: cover;
    position: relative;
    z-index: -500;
}



.flex-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    height: 500px; 
    width: 800px;
  flex-direction: column-reverse;

}


.flex-container > #cat {
    
    bottom: -13.5%;
    left: 0;
    /*
  height: 319px;
    width: 572px;
    */
    width: 150px;
    height: 150px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(Mouthless_2.0.png); 
    
    z-index: 999;
    
}

