html{
    background-image: url('https://www.shutterstock.com/image-vector/pixel-art-game-level-background-600nw-2553891639.jpg');
    background-size: cover;
}
a{
    color: rgba(98, 19, 225, 0.464);
}